/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*  */
/*  */

.bgHome img {
    width: 60%;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: -1;
}

.ball01 img {
    width: 360px;
    position: absolute;
    top: 589px;
    left: -222px;
    z-index: -1;
}

.header {
    display: flex;
    align-items: center;
    padding: 24px;
    /* position: relative; */
    z-index: 1;
}

.header h1 {
    z-index: 1;
}

.plan a {
    position: absolute;
    justify-content: center;
    padding: 8px 24px 8px 24px;
    right: 139px;
    background: #FF5D50 0% 0% no-repeat padding-box;
    border-radius: 22px;
    z-index: 1;
    text-decoration: none;
    text-align: left;
    font: normal normal normal 16px/24px Noto Sans TC;
    letter-spacing: 0px;
    color: #FFFFFF;
}

.plan a:hover {
    background: #56C4C5 0% 0% no-repeat padding-box;
}



.container {
    max-width: 1120px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
}

.banner {
    width: 1085px;
    height: 534px;
    display: flex;

}

.slogan {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.slogan h2 {
    padding-top: 8px;
    padding-bottom: 8px;
}

.chatTalker {
    text-align: left;
    font: normal normal bold 18px/26px Noto Sans TC;
    letter-spacing: 0px;
    color: #56C4C5;
}

.banner h2 {
    text-align: left;
    padding: 0px;
}

.banner img {
    width: 532px;
    position: absolute;
    right: 140px;
    top: 118px;
    z-index: 1;
}

img {
    max-width: 100%;
    height: auto;
}

h2 {
    text-align: center;
    font: normal normal bold 32px/46px Noto Sans TC;
    letter-spacing: 0px;
    color: #221e1f;
    padding: 48px;
}

@media (max-width: 375px) {
    h2 {
        text-align: center;
        font: normal normal bold 28px/40px Noto Sans TC;
        letter-spacing: 0px;
        color: #221e1f;
    }
}

.cart {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cart-item {
    width: 26%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 375px) {
    .cart-item {
        width: 100%;
        padding-top: 24px;
    }
}

.cart-item img {
    width: 90px;
    height: 90px;
    margin: 0 auto;
}

.cart-item h3 {
    text-align: center;
    font: normal normal bold 24px/35px Noto Sans TC;
    /*   letter-spacing: 0px; */
    color: #221e1f;
    padding-top: 24px;
    padding-bottom: 24px;
}

.cart-item p {
    text-align: center;
    font: normal normal normal 16px/24px Noto Sans TC;
    letter-spacing: 0px;
    color: #747474;
}

h3 {
    text-align: center;
    font: normal normal normal 20px/29px Noto Sans TC;
    letter-spacing: 0px;
    color: #221e1f;
}

.cartRole {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: -8px;
    margin-right: -8px;
}

.cartRitem {
    width: 23%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*   border: 1px solid #000; */
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 10px #00000014;
    border-radius: 12px;
    padding-left: 8px;
    padding-right: 8px;
}

@media (max-width: 375px) {
    .cartRitem {
        width: 100%;
        padding-top: 24px;
        background: #ffffff 0% 0% no-repeat padding-box;
        box-shadow: 0px 2px 10px #00000014;
        border-radius: 12px;
    }

    .cartRitem img {
        width: 260px;
        height: 260px;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
    }
}

.cartRitem img {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.cartRitem h3 {
    text-align: center;
    font: normal normal bold 16px/24px Noto Sans TC;
    letter-spacing: 0px;
    color: #56c4c5;
    padding-top: 16px;
}

.cartRitem p {
    text-align: center;
    font: normal normal normal 16px/24px Noto Sans TC;
    letter-spacing: 0px;
    color: #221e1f;
    padding: 16px;
}

/* cart3 */
.cart3 {
    display: flex;
    padding-top: 100px;
    /* max-width: 50%; */
    margin: 0 auto;
    justify-content: center;

}

.aside {
    display: flex;
    max-width: 50%;
    flex-wrap: wrap;
    /* padding-left: 32px;
    padding-right: 32px; */
}

.bside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.bside h2 {
    text-align: left;
}

.cart3Item {
    display: flex;
    flex-direction: column;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 10px #00000014;
    border-radius: 12px;
    width: 230px;
    height: 280px;
    /* position: relative; */
    padding-left: 32px;
    padding-top: 32px;
}

.cart3Item img {
    width: 52px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 10px #00000014;
    padding: 15px;
    border-radius: 50%;
    /* position: absolute;
    top: 32;
    left: 32px; */
}

.cart3Item h3 {
    margin-right: auto;
    padding-top: 24px;
}

.cart3Item p {
    text-align: left;
    font: normal normal normal 16px/24px Noto Sans TC;
    letter-spacing: 0px;
    color: #221E1F;
    padding-top: 16px;
}

@media (max-width: 375px) {
    .cart3Item {
        width: 100%;
        padding-top: 24px;
        background: #ffffff 0% 0% no-repeat padding-box;
        box-shadow: 0px 2px 10px #00000014;
        border-radius: 12px;
    }

    .cart3Item img {
        width: 260px;
        height: 260px;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
    }

}

/* cart4 */
.cart4 {
    display: flex;
    padding-top: 100px;
}



.cart4Item {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 10px #00000014;
    border-radius: 12px;
    padding-top: 48px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 24px;
    position: relative;
    flex-wrap: wrap;
}

.cart4Item img {
    border-radius: 50%;
    width: 80px;
    background: transparent url('img/1.png') 0% 0% no-repeat padding-box;
    position: absolute;
    top: -60px;
}

.cart4Item p {
    text-align: left;
    font: normal normal normal 16px/24px Noto Sans TC;
    letter-spacing: 0px;
    color: #221E1F;
    height: 120px;
}

hr {
    border: 1px solid #DDDDDD;
}

.cart4Item h3 {
    text-align: left;
    font: normal normal bold 16px/24px Noto Sans TC;
    /* letter-spacing: 0px; */
    color: #221E1F;
    padding-top: 24px;
}

.barStar {
    display: flex;
    justify-content: space-between;
}

.star p {
    color: #F5CA52;
}

.footer {
    position: relative;
    /* display: flex; */
}

.footer h2 {
    position: absolute;
    /* justify-content: center;
    align-items: center; */
    top: 50%;
    left: 28%;
    text-align: center;
}

.footer .plan {
    right: 615px;

}