/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*  */
/*  */
.warp {
    position: relative;
    max-width: 1366px;
    height: 470px;
    background: #F7F9FD 0% 0% no-repeat padding-box;
    border-radius: 0px 0px 0px 300px;
    z-index: -2;
}

.banner {
    position: absolute;
    z-index: -1;
    right: 0px;
    width: 885px;
}

.content {
    max-width: 1366px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    padding-left: 142px;
    padding-top: 24px;
}

.ball {
    position: absolute;
    top: 876px;
    left: -267px;
}

.plan {
    padding: 32px 171px;
    flex-wrap: wrap;
}

.plan a {
    padding: 8px 32px 8px 32px;
    text-decoration: none;
    background: #FF5D50 0% 0% no-repeat padding-box;
    border-radius: 22px;
    color: #FFFFFF;
}

.home {
    width: 470px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.home h2 {
    /* text-align: left; */
    font: normal normal bold 48px/70px Noto Sans TC;
    /* letter-spacing: 0px; */
    color: #221E1F;
    padding-top: 116px;
    padding-left: 139px;
}

.home p {
    font: normal normal normal 16px/24px Noto Sans TC;
    letter-spacing: 0px;
    color: #221E1F;
    padding-top: 16px;
    padding-left: 139px;
}

.content h3 {
    padding-top: 100px;
    text-align: center;
    font: normal normal bold 32px/46px Noto Sans TC;
    letter-spacing: 0px;
    color: #221E1F;
}

.planList {
    display: flex;
    justify-content: center;
    padding-top: 48px;
}

.planList li {
    padding-left: 8px;
    padding-right: 8px;
}

.planList a {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #56C4C5;
    border-radius: 27px;
    padding: 12px 32px;
    color: #56C4C5;
    text-decoration: none;
}

.planList a:hover {
    background: #56C4C5;
    color: white;
}

.planListCart {
    margin-top: 54px;
    display: flex;
    /* margin: 0 auto; */
    justify-content: center;
}

.planListCartItem {
    /* width: 444px; */
    /* height: 570px; */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 10px #00000014;
    border-radius: 12px;
    text-align: center;
    margin-left: 10.5px;
    margin-right: 10.5px;
    flex-wrap: wrap;
}

.planListCartItem h4 {
    font: normal normal bold 24px/35px Noto Sans TC;
    letter-spacing: 0px;
    color: #221E1F;
    padding-top: 10px;
}

.planListCartItem hr {
    border: 1px solid #DDDDDD;
}

.planListCartItem p {
    padding-top: 32px;
    font: normal normal normal 16px/24px Noto Sans TC;
    letter-spacing: 0px;
    color: #221E1F;
}

.planListCartItemMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 21px;
    margin-right: 21px;
}

.planListCartItemMenu span {
    display: flex;
    background: #F5F5F5 0% 0% no-repeat padding-box;
    border-radius: 12px;
    margin-top: 32px;
    justify-content: center;
}

.planListCartItemMenu h2 {
    text-align: left;
    font: normal normal normal 29px/42px Noto Sans TC;
    letter-spacing: 0px;
    color: #221E1F;
}

.planListCartItemMenu h5 {
    text-align: center;
    font: normal normal normal 12px/17px Noto Sans TC;
    color: #221E1F;
    padding-top: 24px;
    padding-left: 54px;
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.num p {
    text-align: left;
    font: normal normal normal 32px/35px Comfortaa;
    letter-spacing: 0px;
    color: #56C4C5;
}

.cal p {
    text-align: center;
    font: normal normal bold 12px/17px Noto Sans TC;
    letter-spacing: 0px;
    color: #56C4C5;
}

.check {
    /* display: flex; */
    text-align: left;
    padding-left: 29px;
    /* padding-top: 16px; */
    /* align-items: center; */
    line-height: 5;
}

.now {
    padding-left: 149px;
}

.now a {
    /* justify-content: center; */

    background: #56C4C5 0% 0% no-repeat padding-box;
    border: 1px solid #56C4C5;
    border-radius: 27px;
    text-decoration: none;
    color: #FFFFFF;
    padding: 12px 32px;
}

.qutlist {
    margin: 0 auto;
    max-width: 904px;
    padding-top: 48px;
    padding-bottom: 48px;
}

.qut {
    display: flex;
    justify-content: space-between;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 10px #00000014;
    border-radius: 12px;
    padding: 16px 32px;

}

.footer {
    background: #F5F5F5 0% 0% no-repeat padding-box;
    text-align: center;
    padding-top: 16px;
    padding-bottom: 16px;
    font: normal normal normal 16px/24px Noto Sans TC;
    color: #221E1F;
}